name: Build & Push Bot

on:
  push:
    branches: [main]
    paths:
      - 'src/**'
      - Dockerfile
      - package.json
      - pnpm-lock.yaml
      - .dockerignore
      - .github/workflows/deploy.yml

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push bot
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: final
          push: true
          tags: ghcr.io/${{ github.repository }}-bot:latest
